extends layout

block content
  a(href="/post") new post

  ul
    each post in posts
      - var content = post.post
      - var author = post.author
      - var path = "/status/" + post._id
      
      li 
        a(href=path)= content
