extends layout

block content
  h2 login
  
  form(action="/login", method="POST")
    input(type="text", placeholder="username", name="username")
    p
    input(type="password", placeholder="*******", name="password")
    p
    input(type="submit")    
